(
    spritesheet_width: 9,
    spritesheet_height: 5,
    sprites: [
        // ant
        (
            x: 0,
            y: 0,
            width: 1,
            height: 1,
        ),
        // colony
        (
            x: 1,
            y: 0,
            width: 4,
            height: 4,
        ),
        // empty cell
        (
            x: 0,
            y: 1,
            width: 1,
            height: 1,
        ),
        // food
        (
            x: 5,
            y: 0,
            width: 4,
            height: 4,
        ),
    ],
)